@main{

<!-- HEADER
================================================== -->
<div class="undermenuarea">
	<div class="boxedshadow">
	</div>
	<div class="grid">
		<div class="row">
			<div class="c8">
				<h1 class="titlehead">Nosotros</h1>
			</div>
		</div>
	</div>
</div>

    <!-- CONTENT
================================================== -->
<div class="grid">
		<div class="shadowundertop"></div>
		<div class="row">
			<div class="c8">
				<h1 class="maintitle ">
				<span>Nuestra Historia</span>
				</h1>
				<p>
					<span class="dropcap">E</span>ste trabajo de investigación está basado en el gran número de estudiantes que presentan problemas de salud debido a su mala alimentación. El objetivo de esta investigación es presentar el desarrollo de un prototipo de sistema experto en el ámbito de la nutrición y dietética para ayudar a los estudiando a mejorar su estilo de vida. El proceso de ingeniería del conocimiento se inicia obteniendo el conocimiento de expertos en el área de nutrición por medio de una universidad local y páginas web reconocidas.
				</p>
			</div>
			<div class="c4">
				<div class="da-img">
					<img src="@routes.Assets.at("images/upc.png")" alt="">
				</div>
			</div>
		</div>
		<br><br><br><br>
</div><!-- end grid -->

}
