@main{

    <div class="undermenuarea">
		<div class="boxedshadow">
		</div>
		<!-- SLIDER AREA
		================================================== -->
		<div id="da-slider" class="da-slider">
			<!--Slide 1-->
			<div class="da-slide">
				<h2> Fácil de usar </h2>
				<div class="da-img">
					<img src="@routes.Assets.at("images/doc.jpg")" alt="">
				</div>
			</div>
			<!--Slide 2-->
			<div class="da-slide">
				<h2> Doctor en casa</h2>
				<div class="da-img">
					<img src="@routes.Assets.at("images/doc2.jpg")" alt="">
				</div>
			</div>
			<!--Slide 3-->
			<div class="da-slide">
				<h2> Describe tu malestar </h2>
				<div class="da-img">
					<img src="@routes.Assets.at("images/sick.jpg")" alt="">
				</div>
			</div>
			<nav class="da-arrows">
			<span class="da-arrows-prev"></span>
			<span class="da-arrows-next"></span>
			</nav>
		</div>
	</div>
	
	<!-- UNDER SLIDER - BLACK AREA
	================================================== -->
	<div class="undersliderblack">
		<div class="grid">
			<div class="row space-bot">
				<div class="c12">
					<!--Box 1-->
					<div class="c4 introbox introboxfirst">
						<div class="introboxinner">
							<span class="homeicone">
							<i class="icon-bolt"></i>
							</span> Asistencia Rápida
						</div>
					</div>
					<!--Box 2-->
					<div class="c4 introbox introboxmiddle">
						<div class="introboxinner">
							<span class="homeicone">
							<i class="icon-cog"></i>
							</span> Fácil de registrar tu consulta
						</div>
					</div>
					<!--Box 3-->
					<div class="c4 introbox introboxlast">
						<div class="introboxinner">
							<span class="homeicone">
							<i class="icon-lightbulb"></i>
							</span>
							Resultados certeros
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

}
